<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>{% block title %}{{ flatpage.title }}{% endblock %}</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

    {% load static %}
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />

</head>
<body>
    <div class="main-panel" >
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid" >
                <div class="navbar-header">
                    <a class="navbar-brand" href="{% url 'articles_list' %}">Новости</a>
                    <a class="navbar-brand" href="{% url 'search' %}">Поиск</a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="">
                               О сайте
                        </a>
                    </li></ul>
            </div>
        </nav>
    </div>
<div class="content">
    <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-plain">
                            {% block content %}
                            {{ flatpage.content }}
                            {% endblock %}
                            </div>
                        </div>
                </div>
        </div>
    </div>
</body>
</html>