{% extends 'flatpages/default.html' %}
{% load custom_filters %}
{% block title %}
{{ article.title|slice:15 }}
{% endblock %}
{% block content %}
<div class="header">
</div>
<div style="padding: 25px;">
    <h4>{{ article.title}}</h4>
    <div style="text-indent:25px;" align="justify"><p>{{ article.text|linebreaks }}</p></div>
    <p>{{ article.date|date:"d m Y" }}</p>
</div>
<div>
    <a href="{% url 'news_edit' article.id %}"><input type="button" value="Редактировать"/></a>
</div>
{% endblock %}