{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{% load custom_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
Поиск
{% endblock %}
    </title>
</head>
<body>
{% block content %}
<div align="center"><h2> Что вы бы хотели найти </h2>

    <form action="" method="get">
        {{ filterset.form.as_p }}
        <input type="submit" value="Начать поиск"/>
    </form>
        </div>

<table class="table table-hover">

                                    <thead>
                                        <th>Название</th>
                                    	<th>Дата</th>
                                    </thead>
     <tbody>
     {% if articles %}
     {% for article in articles %}
     <tr><td><a href="{% url 'articles_detail' article.id %}">{{ article.title}}</a></td><td>{{ article.date }}</td></tr>
     {% endfor %}
        {% else %}
     <tr><td><h4>Новостей не найдено</h4></td></tr>
     {% endif %}


     </tbody>

 </table>
{% if page_obj.has_previous %}
<a href="?{% url_replace page=1 %}">Первая</a>
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}

           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}
             {{ page_obj.number }}
   {% if page_obj.has_next %}
<a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>

       {% endif %}
<a href="?{% url_replace page=page_obj.paginator.num_pages %}">Последняя</a>
{% endif %}
{% endblock content %}
</body>
</html>